body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.cover-page {
    background-image: linear-gradient(to right, #146EB5, #76d89f);
    background-size: auto;
}

.cover-content {
    padding: 0px 100px;
}

.flex-box-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #fff;
    font-size: 28px;
}

.menu {
    color: #fff;
    display: inline-flex;
    list-style-type: none;
    padding: 15px;
    text-align: right;
    text-decoration: underline;
}

.menu-list {
    font-size: 20px;
    padding: 25px;
}

.flex-box-cover {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.cover-text {
    color: #ffffff;
    padding-right: 200px;
}

.box {
    background-color: #000;
    height: 275px;
    width: 475px;
    margin-bottom: 100px;
}

.list-title {
    text-decoration: underline;
}

.dog-list {
    list-style: none;
    padding-left: 0;
}

.dog-breeds {
    text-transform: capitalize;
    list-style-type: none;
    padding: 10px;
}

